{% extends 'base.html' %}
{% load static %}
{% block title %}Task Management System{% endblock %}

{% block content %}
    <h1>Task Management System</h1>
    <p class="message">Welcome to the Task Management System.</p>
    <p class="message">You can organize your tasks, set deadlines, and keep track of your work.</p>

    <div class="cta">
        <p>If you don't have an account, please <a href="{% url 'signup' %}">Sign Up</a>.</p>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </div>
{% endblock %}
