{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Signup</h1>

        <!-- Signup form -->
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="first_name">First Name</label>
                {{ form.first_name }}
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                {{ form.last_name }}
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="password1">Password</label>
                {{ form.password1 }}
            </div>

            <div class="form-group">
                <label for="password2">Confirm Password</label>
                {{ form.password2 }}
            </div>

            <div class="form-group">
                <button type="submit">Sign Up</button>
            </div>
        </form>

        <div class="cta">
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
            <p>Back to Home Page <a href="{% url 'home_page' %}">Home</a>.</p>
        </div>
    </div>
{% endblock %}
